@charset "utf-8";
/* CSS Document */

#rtContainer {
    text-align: center;
    width:400px;
}

#rtUsers {
    display:none;
    font-size:16px;
    padding:5px;
    border-radius: 2px;
    border: 1px solid#d4d2d0;
    background-color:#fafafa;
    width:360px;
    margin: 0 0 20px 30px;
}


